.uni-wrapper {
  display: flex;
  flex-direction: column;
  background: lightgrey;

  .box {
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    background: white;
  }
}

@media screen and (min-width: 767px) {
  .uni-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .box {
      width: 45%;
    }
  }
}

@media screen and (min-width: 992px) {
  .uni-wrapper {

    .box {
      width: 30%;
    }
  }
}